/* - - - - - - - - - - - - - */
/*        stylesheet         */
/* - - - - - - - - - - - - - */
/*··|\·····|·····|¯¯¯¯¯······*/
/*··|·\····|·····|···········*/
/*··|··\···|·····|···········*/
/*··|···\··|·····|··___······*/
/*··|····\·|·····|·····|·····*/
/*··|·····\|·[]···¯¯¯¯¯|·[]··*/
/* - - - - - - - - - - - - - */

/* SCHRIFT */
@font-face {
    src: url(../fonts/Raleway.ttf);
    font-family: Raleway, Arial, Helvetica, sans-serif;
}
body {
    font-family: Raleway, Arial;
    background-color: #fff;
}

/* SECTION *//* = ToDo */
section {
    border: 2px solid red;
    width: fit-content;
    padding: 5px;
}

/* STANDART */
body {
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
a {
    margin: 0;
    text-decoration: none;
    color: #000000;
}
ol {
    margin: 0;
    margin-bottom: 10px;
}
ul {
    margin: 0;
    margin-bottom: 10px;
}
li {
    margin: 0;
    margin-bottom: 5px;
}

/* CONTENT */
.content {
    margin: 15px;
}
.content h1 {
    margin-bottom: 10px;
}
.content h2 {
    margin-bottom: 10px;
}

/* CENTER VIEW */
.center_view {
    background-color: #16758c;
    text-align: center !important;
    margin: 0 25%;
    padding: 15px;
    border-radius: 15px;
    color: #ffffff;
}
.center_view_input {
    width: 70%;
    height: 30px;
    padding: 0 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 14px;
    background-color: #fff;
    color: #222222;
}
.center_view_btn {
    width: 60%;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 14px;
    background-color: #fff;
    color: #222222;
}
.center_viw_link {
    padding: 5px 0;
    position: relative;
    color: #fff;
}
.center_viw_link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: all 0.5s ease-in-out;
}
.center_viw_link:hover::before {
    width: 100%;
}

@media (max-width: 850px) {
    .center_view {
        margin: 0;
    }
}

/* MENU */
.menu {
    padding: 15px;
    background-color: #16758c;
    border-radius: 0 0 15px 15px;
    color: #ffffff;
}
#menuPC {
    width: 100%;
}
#menuPC_header h1 {
    margin: 0;
    padding: 0;
    color: #ffffff;
}
#menuPC_rechts {
    text-align: right;
}
#menuPC_rechts a {
    text-decoration: none;
    color: #ffffff;
    font-size: large;
    margin: 0 20px;
    padding: 5px 0;
    position: relative;
}
#menuPC_rechts a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
}
#menuPC_rechts a:hover::before {
    width: 100%;
}

/* HOME */
.home {
    margin: 30px 10%;
}
.home p {
    margin-bottom: 20px;
}
.home_img_right {
    width: 300px;
    border-radius: 10px;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}

/* ARTCLE */
.article hr {
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    margin: 10px 0;
}
.article p {
    margin-bottom: 25px;
    text-align: justify;
}
.article a {
    text-decoration: underline;
}
.article {
    color: #252525;
    margin: 30px 10%;
}
.article_img_right {
    width: 300px;
    border-radius: 10px;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
}
.article_navigation {
    width: 100%;
}
.article_navigation td {
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}
.article_navigation p {
    display: inline-block;
}
.article_navigation a {
    text-decoration: none;
    color: #fff;
}
.article_navigation_left {
    background-color: #16758c;
    width: 77px;
    text-align: left;
}
.article_navigation_right {
    background-color: #16758c;
    width: 77px;
    text-align: right;
}
.article_navigation_icon {
    width: 18px;
    vertical-align: bottom;
}

/* PREVIEW */
.preview {
    width: 350px;
    height: 250px;
    margin-right: 5px;
    border-radius: 10px;
    background-color: #d9d9d9;
    display: inline-block;
}
.preview a {
    text-decoration: none;
    color: #000;
}
.preview_img {
    width: 350px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.preview_texts {
    padding: 10px;
}
.preview_header {
    font-weight: bold;
    font-size: large;
}
.preview p {
    margin-bottom: 5px;
}

/* SCROLL */
.scroll_preview {
    height: 250px;
    width: 100%;
    margin-bottom: 30px;
    overflow-y: hidden;
    overflow-x: scroll;
    /*background:linear-gradient(90deg, cornflowerblue 0%, wheat 58%);*/
}
.scroll_preview::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.scroll_content {
    width: max-content;
}

/* INHALT */
ol a {
    text-decoration: underline;
}

